<div class="main posts-index">
  <div class="container">
    <% @spots.each do |spot| %>
      <div class="posts-index-item">
        <!-- post.contentを使って書き換えてください -->
        <%= link_to(spot.spot_one, spot.url_one) %>
        
        <%= link_to(spot.spot_two, spot.url_two) %>
        
        <%= link_to(spot.spot_three, spot.url_three) %>
        
        <%= link_to(spot.spot_four, spot.url_four) %>
      </div>
    <% end %>
      <div>
    <%= link_to("tap", "recommend/random") %>
      </div>